/*FORMS*/
.form {
  background-color: var(--form-bg);
  border: 1px solid var(--border);
  background: var(--form-bg);
  border-radius: var(--radius);

  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  gap: var(--space-md);
  margin: auto;
  padding: calc(var(--space-md) + 4px) calc(var(--space-sm) + 2px);
  width: 95%;
  max-width: 500px;
}

/*FORM LABEL*/
label {
  font-size: 0.9rem;
}
legend {
  color: var(--chevron-color);
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);
  margin: var(--space-md);
}
form .btn {
  width: 100%;
  margin-top: var(--space-sm);
}
/*INPUT FIELDS*/
.inputField,
select {
  background-color: var(--input-bg);
  color: var(--input-color);
  width: 100%;
  padding: calc(var(--space-xs) * 3);
  border-radius: var(--radius);
  outline: none;
  border: 1px solid var(--border);
  font-size: 1rem;
  transition: 0.3s;
}
.textArea {
  min-height: 150px;
  max-width: 100%;
  max-height: 200px;
}
.inputField:focus {
  border-color: var(--accent);
  background-color: var(--bg);
  box-shadow: 0 0 3px var(--accent);
}
.inputField.error {
  border-color: var(--danger);
}
.workspaceIdContainer {
  position: relative;
  height: fit-content;
}
.workspaceIdContainer .copyBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: var(--radius);
}
.workspaceInfoCard {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.copyBtn svg {
  width: 100%;
  height: 100%;
}
#createApiKeyBtn {
  margin: var(--space-md) auto;
}
/*================= 
PERSONAL LOGGED TASK SECTION
===================*/

/*PERSONAL INPUT CONTAINER IN DASHBOARD*/
.personalLogInputContainer .container {
  width: 100%;
  margin: calc(var(--space-lg) - 4px) 0;
}
.personalLogInputContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-md) - 2px);
  border-radius: var(--radius);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  background-color: var(--color);
}
input[type="number"]::-webkit-inner-spin-button {
  background: transparent;
  opacity: 0.4;
  width: 14px;
}

input[type="number"]::-webkit-inner-spin-button:hover {
  opacity: 0.8;
}

/* LOG LIST */
.logs {
  flex-direction: column;
  gap: calc(var(--space-md) - 2px);
  margin-top: calc(var(--space-lg) - 4px);
}

/* Workspace list card*/
.workspaceCard details {
  margin-bottom: var(--space-md);
}
.workspaceCard details summary {
  font-size: 1rem;
  justify-content: flex-start;
  align-items: center;
}

details summary::before {
  background-color: none;
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.2s ease;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='4,3 10,8 4,13' fill='%23F59E0B' stroke='%23F59E0B' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
details[open] summary::before {
  transform: rotate(90deg);
}

/*META TAGS IN ACTIVITY(ADMIN) SECTION*/
.loggedActivityContainer .metaRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.loggedActivityContainer .metaRow span {
  display: inline-flex;
  align-items: center;
  padding: 0 0.4rem;
  background: var(--surface-2);
  border-radius: var(--radius-sm);
  border: 1px solid var(--border-light);
  white-space: nowrap;
}

.loggedActivityContainer .taskName {
  font-weight: 500;
  color: var(--text-primary);
}

.loggedActivityContainer .taskProgress {
  text-transform: capitalize;
}

.loggedActivityContainer .taskTime {
  opacity: 0.8;
}

/* LOG ITEM */
details {
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: calc(var(--space-md) - 4px);
  margin: var(--space-sm) auto;
  transition: 0.3s;
}
details:hover {
  border: 1px var(--accent) solid;
}

details span:nth-child(2) {
  background-color: var(--bg);
  padding: 8px;
  border-radius: var(--space-xs) var(--space-sm);
  margin-top: calc(var(--space-xs) + 1px);
  display: block;
  width: fit-content;
  cursor: text;
}
details p {
  margin-top: calc(var(--space-sm) + 2px);
  color: var(--chevron-color);
  line-height: 1.5;
  text-align: left;
}
details[open] {
  border-color: var(--secondary);
  background: var(--form-bg);
}
details[open] button {
  background-color: var(--card-bg);
}
summary {
  padding: calc(var(--space-xs) / 2) calc(var(--space-xs) + 1px);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  align-items: center;
}

.actionConatiner {
  display: flex;
  gap: var(--space-sm);
}
.actionConatiner button svg,
.deleteBtn svg {
  width: 25px;
  height: 25px;
}
.actionContainer button,
.deleteBtn {
  background-color: var(--bg);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: var(--color);
  transition:
    color 0.4s ease,
    background-color 0.5s ease,
    transform 0.4s ease;
  position: relative;
  cursor: pointer;
}
.deleteBtn {
  position: absolute;
  right: 0;
  margin: var(--space-lg) var(--space-sm);
}
.deleteBtn.tooltip::after,
button.danger {
  background: var(--danger);
  font-weight: 700;
  color: var(--bg);
  margin-top: var(--space-sm);
}
/* Tooltip bubble */
.tooltip::after {
  content: attr(data-title);
  position: absolute;
  left: -100%;
  top: -80%;
  transform: translateX(-50%);
  color: var(--color);
  background: var(--bg);
  padding: var(--space-sm) calc(var(--space-md) - 4px);
  border-radius: 60px 60px 0 60px;
  font-size: 14px;
  line-height: 1.3;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  transform-origin: top;
  z-index: 9999;
}

/* Tooltip arrow */
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 6px solid transparent;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show on hover */
.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.deleteBtn:hover {
  color: var(--danger);
}

#personalCreatedLogs {
  margin: calc(var(--space-sm) + 2px) 0 calc(var(--space-md) + 4px);
}
/* When a log is added */
.taskContainer {
  opacity: 0;
  transform: translateY(-6px);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.taskContainer.show {
  opacity: 1;
  transform: translateY(0);
}

/* When a log is deleted */
.taskContainer.removing {
  opacity: 0;
  transform: translateY(-6px);
}

.placeholderText,
.commonPlaceholderText {
  text-align: center;
  opacity: 0.6;
  margin-top: calc(var(--space-md) + 4px);
}
.mutedText {
  color: #5a7f89;
}
/*SINGLE INPUT FIELD*/
.singleInput {
  display: flex;
  gap: calc(var(--space-xs) + 2px);
  width: 100%;
}
.singleInput .inputField {
  flex: 1;
}
.singleInput .btn {
  width: auto;
  min-height: 100%;
}

/*BUTTONS*/
.btn {
  background: var(--primary);
  padding: calc(var(--space-xs) * 3);
  border-radius: var(--radius);
  margin: 0 var(--space-xs);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  box-shadow: var(--shadow);
}
.btn-sm {
  padding: var(--space-sm) calc(var(--space-sm) + 4px);
  font-size: 0.85rem;
}
@media (max-width: 600px) {
  .btn {
    width: 100%;
    margin: calc(var(--space-xs) + 1px) 0;
  }
  .singleInput {
    flex-direction: column;
  }
}

.btn-primary {
  color: #fff;
  background: var(--primary);
}
.btn.btn-primary:hover {
  background: var(--primary-light);
  opacity: 1;
}
.btn-secondary {
  background: var(--secondary);
  color: #fff;
  border: none;
}
.btn-secondary:hover {
  opacity: 1;
  background: var(--secondary-light);
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  color: var(--bg);
}

.btnDisabled:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.backLink {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.9;
  display: flex;
  align-items: center;
}

/*DROPDOWN STYLES*/
.historyNavContainer {
  width: 100%;
}
.navBtnDropdown {
  width: 100%;
  padding: var(--space-md);
}
.navBtnDropdown::after {
  content: "▲";
  transition: all 0.4s ease;
}
.dropped::after {
  rotate: -180deg;
}
.historyNavs {
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-left: var(--space-md);
  transition: all 0.4s ease;
}
.historyNavs.dropNav {
  max-height: fit-content;
  height: 120px;
}

/*CARDS*/
.card {
  background: var(--card-bg);
  padding: calc(var(--space-md));
  margin: var(--space-sm) 0;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-2px);
}
.dropdown-list button.dropdown-item,
button.dropdown-item {
  background: none;
  color: var(--color);
  text-align: left;
}
.dropdown-list button.dropdown-item:last-child {
  color: #000;
}
.dropdown-list button.dropdown-item:last-child:hover {
  background: rgb(255, 52, 52);
}
/*MODAL CONTAINER*/
#modalContainer {
  overflow-y: hidden;
}
.modalContainer {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px) brightness(90%);
}
.modalContainer form {
  z-index: 9999;
}
.modalContainer form select option {
  background: var(--bg);
}

.statNum {
  font-size: 2rem;
  font-weight: 600;
}
#statsContainer {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 600px) {
  #statsContainer {
    gap: 1px;
    grid-template-columns: 1fr 1fr;
  }
  #statsContainer .card {
    display: grid;
  }
  #statsContainer .card .statsName {
    order: 2;
  }
  #statsContainer .card .statsName {
    font-size: clamp(0.6rem, 3vw, 0.8rem);
  }
}

.navAccountIdentityCard {
  padding: calc(var(--space-xs) - 2px) calc(var(--space-xs) + 1px)
    calc(var(--space-sm) + 2px);
  margin: var(--space-sm) 0 var(--space-xs);
  position: sticky;
  bottom: 0;
  max-width: 100%;
  max-height: fit-content;
  flex: 1;
  display: flex;
  justify-content: space-between;
  background: var(--card-bg);
  gap: var(--space-md);
  border-radius: 0;
  border-top: 1px solid;
}
.text p {
  margin: 0;
}
.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.grid .profileImg {
  width: 60px;
  height: 60px;
}
#subscriptionType {
  border: 1px solid var(--border);
  padding: 2px;
  display: inline-block;
  border-radius: var(--radius);
  margin-top: calc(var(--space-sm) - 2);
  font-size: 0.9rem;
  opacity: 0.5;
}

/*CONSENT*/
.consent-banner {
  position: fixed;
  bottom: 5px;
  right: 20px;
  max-width: 360px;
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.consent-content h3 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.consent-content p {
  margin: 0 0 16px;
  font-size: 14px;
  color: var(--chevron-color);
}

.consent-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0 8px;
  justify-content: flex-end;
}

.btn.secondary {
  background: #f2f2f2;
  color: #000;
  box-shadow: 0 0 15px #00000070;
}

.pageOpenLink {
  display: block;
  width: fit-content;
  opacity: 1;
}
.pageOpenLink:hover {
  opacity: 1;
  text-decoration: none;
}
.modal-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: space-between;
  border-radius: 12px;
  width: 360px;
  max-width: 100%;
  background: var(--card-bg);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.cardHeader {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  margin-bottom: var(--space-sm);
}
.invite-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  max-width: 500px;
  border-radius: var(--radius);
  width: 100%;
  padding: var(--space-md);
  margin: var(--space-md);
  background: var(--form-bg);
}

/*NOTES PAGE STYLE*/
.notesContainer {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 1fr;
  max-height: 100%;
}
.notesContainer #noteTitle {
  border-width: 2px;
  width: fit-content;
  background-color: var(--card-bg);
}
#createNote {
  right: 0;
}

#editor {
  overflow: auto;
  border: none;
  background: var(--mainContent-bg); /* your theme variable */
  color: var(--color);
  border-radius: var(--radius);
  min-height: 300px;
  max-height: 100%;
}
#editor img {
  border-radius: var(--radius);
  width: 300px;
}
.ql-container.ql-snow {
  background-color: var(--input-bg);
}
.ql-toolbar.ql-snow {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
}
#editorContainer {
  color: var(--color);
  padding: 0;
  margin-bottom: 30px;
}
.ql-editor.ql-blank::before {
  color: #888; /* muted placeholder color */
  font-style: italic;
  font-weight: 400;
  font-size: 0.95rem;
}
.actionBtnsContainer {
  position: absolute;
  display: flex;
  gap: var(--space-sm);
  right: 0;
  bottom: 0;
  padding: var(--space-sm);
  width: 100%;
  max-width: 800px;
  border-radius: var(--radius);
  backdrop-filter: var(--filter);
}
.notesActionBtn {
  width: 100%;
}
.notesActionBtn:hover {
  opacity: 1;
}
#saveNoteBtn:hover {
  background: var(--primary-light);
}
#exportNotesBtn {
  color: #fff;
  background: var(--card-bg);
}
#notesList {
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 600px;
}
#notesList::-webkit-scrollbar {
  width: var(--space-xs);
  height: var(--space-sm);
}

#notesList::-webkit-scrollbar-track {
  background: var(--card-bg);
  border-radius: var(--radius);
}

#notesList::-webkit-scrollbar-thumb {
  background: #393838;
  border-radius: var(--radius);
  border: 2px solid var(--card-bg);
}

#notesList::-webkit-scrollbar-thumb:hover {
  background: #0393d6; /* slightly brighter primary */
}
.noteItem {
  display: flex;
  justify-content: space-between;
  background: var(--card-bg);
  padding: var(--space-md) var(--space-sm);
  margin: var(--space-sm);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.4s ease;
}
.noteItem .deleteBtn {
  color: var(--bg);
  background-color: var(--color);
  padding: var(--space-sm);
  margin: 0;
  align-items: center;
  max-width: fit-content;
}
.noteItem:hover {
  opacity: 0.9;
}

@media (max-width: 800px) {
  .notesContainer {
    display: flex;
    flex-direction: column;
  }
  #notesList {
    height: calc(var(--space-lg));
    transition: all 0.4s ease;
  }
  #notesListContainer:hover #notesList {
    height: 300px;
    overflow: auto;
  }
}

.modal-actions btn {
  margin-top: var(--space-md);
}

.activityList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.activityItem {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 12px 16px;
  border-radius: 8px;
}

.activityHeader,
.discussionHeader {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.activityHeader .profileImg,
.discussionHeader .profileImg {
  width: 28px;
  height: 28px;
  border: 1px solid var(--border);
  border-radius: 50%;
}

.actorName {
  font-weight: 600;
}

.taskName {
  font-weight: 600;
  color: var(--accent-color);
}

.activityBody {
  margin-top: 6px;
  font-size: 14px;
}

.activityTime {
  margin-top: 8px;
  font-size: 12px;
  color: var(--text-muted);
}

.warning {
  background: var(--warning);
  padding: var(--space-md);
  border-radius: var(--radius);
  margin: var(--space-sm);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 600;
  border: var(--border);
  position: relative;
}
.warning .warningText {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.closeWarning {
  background: none;
  border: none;
  position: absolute;
  top: -10px;
  right: -10px;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeWarning:hover {
  opacity: 0.8;
  cursor: pointer;
}
