/*NOTES PAGE STYLE*/
.contentHeader {
    margin-bottom: 0;
    gap: var(--space-sm);
}
 .mainContent {
      padding-bottom: 100px;
      margin-left: 0;
    }

    /* MOBILE SIDEBAR */
    @media (min-width: 800px) and (max-width: 1900px) {
      .main {
        display: flex !important;
        width: 100%;
        justify-content: space-between;
      }

      .mainContent {
        width: 100%;
        margin-left: 70px;
      }

      Button.menuBtn {
        display: none;
      }

      .mainContent {
        padding-bottom: 30px;
      }

      .sidebar {
        width: 70px;
        height: 100%;
        transition: width 0.35s ease;
        border-right: 1px solid var(--border-primary);
      }

      .sidebar:hover {
        width: 260px;
      }

      .sidebar:hover .navText,
      .sidebar:hover div.navSectionLabel {
        opacity: 1;
      }

      .sidebar .navText,
      .sidebar div.navSectionLabel {
        opacity: 0;
        text-wrap: nowrap;
        transition: opacity 0.4s ease;
      }

      .sidebar span.navIcon {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sidebar span.navIcon svg {
        width: 30px;
        height: 30px;
      }

      .sidebar.slideShow {
        transform: translateX(0);
      }
    }

.notesContainer {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 1fr;
  max-height: 100%;
}
.notesContainer #noteTitle {
  border-width: 2px;
  width: 100%;
  max-width: 350px;
  background-color: var(--card-bg);
}
#createNote {
  right: 0;
}

#editor {
  overflow: auto;
  border: none;
  background: var(--mainContent-bg); /* your theme variable */
  color: var(--text-primary);
  border-radius: var(--radius-sm);
  min-height: 300px;
  max-height: 100%;
}
#editor img {
  border-radius: var(--radius-sm);
  width: 300px;
}
.editorTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: var(--filter);
}
.actionBtnsContainer {
  display: flex;
  gap: var(--space-sm);
  padding: var(--space-sm);
  border-radius: var(--radius-sm);
}
.notesActionBtn {
  min-width: 100px;
}
.notesActionBtn:hover {
  opacity: 1;
}
#saveNoteBtn:hover {
  background: var(--primary-light);
}
#exportNotesBtn {
  color: #fff;
  background: var(--card-bg);
}
#notesList {
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 600px;
  border-radius: var(--radius-sm);
  border-top: 12px solid var(--bg-primary);
  border-bottom: 12px solid var(--border-primary);
}
#notesList::-webkit-scrollbar {
  width: var(--space-sm);
  height: var(--space-sm);
}

#notesList::-webkit-scrollbar-track {
  background: var(--card-bg);
  border-radius: var(--radius-sm);
}

#notesList::-webkit-scrollbar-thumb {
  background: #393838;
  border-radius: var(--radius-sm);
  border: 2px solid var(--card-bg);
}

#notesList::-webkit-scrollbar-thumb:hover {
  background: #0393d6; /* slightly brighter primary */
}
.noteItem {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: var(--card-bg);
  padding: var(--space-md) var(--space-sm);
  margin: var(--space-sm);
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: all 0.4s ease;
}
.noteItem p {
  margin: 0;
  margin-right: calc(var(--space-lg) + 16px);
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.noteItem .deleteBtn {
  color: var(--bg-primary);
  background-color: var(--text-primary);
  padding: var(--space-sm);
  margin: 0;
  align-items: center;
  margin-right: var(--space-xs);
  max-width: fit-content;
}
.noteItem:hover {
  background: var(--active);
}

button.toggleNotesListBtn {
  width: fit-content;
  display: none;
}
@media (max-width: 800px) {
  .notesContainer {
    display: flex;
    flex-direction: column;
  }
  #notesList {
    height: calc(var(--space-lg));
    transition: all 0.4s ease;
  }
  button.toggleNotesListBtn {
  display: block;
}
#notesList.expandList {
    height: 300px;
    overflow: auto;
    background: var(--bg-primary);
  }
}