.pageTitle {
  text-align: center;
}
#modalContainer h2 {
  text-align: center;
}
.sectionDescription {
  color: gray;
}

section {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: var(--space-xs);
  min-height: 400px;
}
