/* MAIN GRID HOLDS EVERYTHING */
.main {
  width: 100%;
  height: 100%;
}

/* MAIN CONTENT SCROLLS INDEPENDENTLY */
.mainContent {
  grid-area: mainContent;
  background: var(--mainContent-bg);
  border-left: 1px solid var(--border);
      padding: 0 var(--space-sm) var(--space-sm);
  overflow-y: auto;
  scroll-behavior: smooth;
  min-height: 100dvh;

  width: 100%;
  margin-left: 260px;
  
}

/* MOBILE SIDEBAR */
@media (max-width: 800px) {
  Button.menuBtn {
    display:block;
  }
  .mainContent {
    min-height: 100dvh;
    margin-left: 0;
}

}


/*SINGLE INPUT FIELD*/
.singleInput {
  display: flex;
  gap: calc(var(--space-xs) + 2px);
  width: 100%;
}
.singleInput .inputField {
  flex: 1;
}
.singleInput .btn {
  width: auto;
  min-height: 100%;
}