/* MAIN GRID HOLDS EVERYTHING */
.main {
  width: 100%;
  height: 100%;
}

/* SIDEBAR COLUMN */
.sidebar {
  background: var(--card-bg);
  padding-top: var(--space-md);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

/* SIDEBAR INNER SCROLL */
#sidebar {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 10px;
  margin-bottom: auto;
    overflow-x: hidden;

}
#sidebar a:hover {
  text-decoration: none;
}

/* MAIN CONTENT SCROLLS INDEPENDENTLY */
.mainContent {
  grid-area: mainContent;
  background: var(--mainContent-bg);
  border-left: 1px solid var(--border);
      padding: 0 var(--space-sm) calc(var(--space-xl) * 4);
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin-left: 260px;
  
}

/* MOBILE SIDEBAR */
@media (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "mainContent";
  }
  Button.menuBtn {
    display:block;
  }
  .sidebar .navText, .sidebarContainer div.navSectionLabel {
    opacity: 1;
  }
  .sidebar span.navIcon {
    width: auto;
    display: block;
    
  }
  .mainContent {
    min-height: 100dvh;
    margin-left: 0;
}
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 85%;
    max-width: 300px;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.35s ease;
    border-right: 1px solid var(--border);
  }
  
  .sidebar.slideShow {
    transform: translateX(0);
  }
}


/*SINGLE INPUT FIELD*/
.singleInput {
  display: flex;
  gap: calc(var(--space-xs) + 2px);
  width: 100%;
}
.singleInput .inputField {
  flex: 1;
}
.singleInput .btn {
  width: auto;
  min-height: 100%;
}