main {
  margin: calc(var(--space-xl) * 2) 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
}
@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
}
h1.logo {
  font-size: clamp(2rem, 10vw, 3rem);
  text-align: center;
}
h2 {
    font-size: clamp(1.5rem, 7.5vw, 1.75rem);
  text-align: left;
}
.tunedText {
  text-align: center;
}
.btn-primary {
  color: #000;
}

.InputContainer, .outputContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: var(--space-xl);
}
.InputContainer .fileInput {
  display: none; 
}
.inputField {
  cursor: pointer;
}
.file-label {
  display: inline-block;
  padding: 10px 18px;
  background: #0d6efd;        /* LogHue blue */
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s ease;
}

.file-label:hover {
  background: #0b5ed7;
}

.file-name {
  margin-left: 12px;
  color: #aaa;
  font-size: 14px;
}

.outputContainer {
  height: 100%;
}
.outputContainerInner {
  position: sticky;
  top: 0;
  
}
.previewContainer {
  margin-top: 20px;
}
.previewUpper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--space-sm);
}
#previewCanvas{
  width: 100%;
  border: 1px solid var(--border);
    border-radius: var(--radius);
}
#previewCanvas::after {
  content: "Image Preview";
}
#output {
  cursor: auto;
  width: 100%;
  height: 200px;
  margin-top: var(--space-md);
  padding: var(--space-sm);
  resize: none;
  color: var(--color);
}
.outputLower {
  display: none;
}