
main {
  margin: calc(var(--space-xl) * 2) 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-sm);
}
@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
}
h1.logo {
  font-size: clamp(2rem, 10vw, 3rem);
  text-align: center;
}
.logo {
  color: var(--color);
}
h2 {
    font-size: clamp(1.5rem, 7.5vw, 1.75rem);
  text-align: left;
}
.tunedText {
  text-align: center;
}
.btn-primary {
  color: #000;
}

.InputContainer, .outputContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: var(--space-xl);
}
.inputUpper {
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);
  align-items: center;
}
.InputContainer .fileInput {
  display: none; 
}
.inputField {
  cursor: pointer;
}
.file-label {
  display: inline-block;
  padding: 10px 18px;
  background: #878787;        /* LogHue blue */
  color: #000000;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background 0.2s ease;
}

.file-label:hover {
  background: #737373;
}

.file-name {
  margin-left: 12px;
  color: #aaa;
  font-size: 14px;
}

.outputContainer {
  height: 100%;
}
.outputContainerInner {
  position: sticky;
  top: 0;
  
}
.previewContainer {
  margin-top: 20px;
}
.previewUpper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--space-sm);
}
#previewCanvas{
  width: 100%;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}
.previewCanvasContainer {
  position: relative;
  height: fit-content;
}
.previewCanvasContainer.scan::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 3;
  box-shadow: 0 10px 15px var(--success);
  animation: scan 2s linear alternate infinite;
}
@keyframes scan {
  from {
    top: -11px;
  } to {
    top: 95%;
  }
}
#output {
    font-family: "Inter", sans-serif, system-ui;
  cursor: auto;
  width: 100%;
  height: 200px;
  margin-top: var(--space-md);
  padding: var(--space-sm);
  resize: none;
  color: var(--color);
}
.outputLower {
  display: none;
}

#modalContainer {
  background: rgba(0,0,0,0.6);
}

.hidden {
  display: none;
}

.modalContainer .card {
  background: #111;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.usageBox {
  margin: 16px 0;
  font-size: 24px;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#upgradeBtn {
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

#closeModal {
  background: transparent;
  border: 1px solid #555;
  color: var(--tunedText);
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}