<div class="modalContainer">
<form class="form" id="createApiKeyForm">

   <div class="api-key-modal">
      <!-- CLOSE BUTTON -->
   <svg class="closeModalBtn" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round">
      <rect x="3.5" y="3.5" width="17" height="17" rx="6" ry="6" fill="currentColor" opacity="0.06" />
      <path d="M9 9l6 6M15 9l-6 6" />
   </svg>

   <h2>Create API Key</h2>

   <label>Name</label>
   <input class="inputField" id="api-key-name" placeholder=" eg. Syncally Integration" />

   <fieldset>
      <legend>Permissions</legend>
      <label><input type="checkbox" value="read:documents" checked /> Read Documents</label>
      <label><input type="checkbox" value="write:documents" /> Write Documents</label>
   </fieldset>

   <button class="btn" id="generate-api-key-btn">Generate</button>
</div>

</form>
      </div>
