<div class="modalContainer" id="inputContainer">
          <form class="personalLogInputContainer form">
            <h2>Log Task</h2>
            <label for="task">Task Completed</label>
            <input
              placeholder="e.g. Fixed API bug"
              type="text"
              id="task"
              class="inputField"
              />

            <label for="taskTime">Date Completed</label>
            <input type="datetime-local" id="taskTime" class="inputField" />

            <label for="note">Notes</label>
            <textarea
              id="note"
              placeholder="Add details about what you finished…"
              class="inputField textArea"
            ></textarea>

            <button type="button" id="logTask" class="btn">Log Task</button>
          </form>
        </div>